<!DOCTYPE html>

<html>
<head>
    <title>Index of {{ current_directory }}</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Index of {{ current_directory }}</h1>

    <a href="{{ request_parent }}">
    <img src="{{ gallery_root }}/static/icons/folder_32.png" />
    Back</a><br />
    
    {% for item, type in dir_contents %}
        {% if type == 'd' %}
            <a href="{{ request_root }}/{{ item }}">
            <img src="{{ gallery_root }}/static/icons/folder_32.png" />
        {% else %}
            <a href="{{ gallery_root }}_static/{{ subfolder }}{{ item }}">
            <img src="{{ gallery_root }}_static/{{ subfolder }}{{ item }}" height=100 width=178 />
        {% endif %}
        {{ item }}</a>
        <br />
    {% endfor %}

    <address>AutoGalleryIndex/{{ autogalleryindex_version }}</address>
</body>
