<!DOCTYPE html>

<html>
<head>
    <title>Index of {{ current_directory }}</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Index of {{ current_directory }}</h1>

    {% for item, type in dir_contents %}
        <a href="?dest={{ item }}">
        {% if type == 'd' %}
            <img src="static/icons/folder_32.png" />
        {% else %}
            <img src="../Photos_static/{{ item }}" height=100 width=178 />
        {% endif %}
        {{ item }}</a>
        <br />
    {% endfor %}

    <address>AutoGalleryIndex/{{ autogalleryindex_version }}</address>
</body>
