<!DOCTYPE html>

<html>
<head>
    <title>Index of {{ display_path }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=.5" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grid_layout.css') }}" />
</head>

<body>
    <h1>Index of {{ display_path }}</h1>

    <table>
        {% for item, item_relpath, type, thumb_path in dir_contents %}
            {% if loop.index0 % items_per_row == 0 %}
                <tr>
            {% endif %}

            <td>
                <a href="{{ url_for('gallery', relpath=(item_relpath)) }}" title="{{ item_relpath }}" >
                    <img src="{{ thumb_path }}" />
                    {% if type != MIME_IMAGE_THUMBED %}
                    <br>{{ item }}
                    {% endif %}
                </a>
            </td>

            {% if (loop.index) % items_per_row == 0 or loop.last %}
                </tr>
            {% endif %}

        {% endfor %}
    </table>

    <br>
    <address><a href="https://github.com/ion201/AutoGalleryIndex">AutoGalleryIndex</a>/{{ release_version }}</address>
</body>
</html>
